*{
    margin:0px;
    padding:0px;
}
body{
    padding:0px;
    margin:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100vw;
    background-color: bisque;
}
#container{
    height: 50%;
    width:20%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}
img{
    height: 100%;
    width: 100%;
    z-index: -1;
}
#text{
    position: absolute;
    text-align: center;
    background-color: black;
    height: 30%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: -30%;
}
#img{
    position: absolute;
    transition: 1s;
}

h3{
    color: rgb(240, 56, 56);
}
p{
    color:bisque
}

#container:hover #text{
    transition: 1s;
    transform: translateY(-100%);
}

#container:hover #img{
    transition: 1s;
    transform: translateY(-30%);
}